<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Earth</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% block content %}
    <header>
        <div class="logo">
            <img src="/static/img/Logo 1.png" alt="GreenEarth">
        </div>
        <nav>
            <li><a href="{{ url_for('index')}}">Главная</a></li>
            <li  id="choosen" >Калькулятор</li>
            <li><a href="{{ url_for('news')}}">Новости</a></li>
        </nav>
    </header>
    <main>
        <div class="calculator">
            <h2>Расчёт выбросов диоксида углерода (CO2-эквивалента)</h2>
            <form class="calculator" method="POST" action="{{ url_for('calculator') }}">
                <div class="fuel">
                        <label for="fuelType">Тип топлива:</label>
                        <select name="fuelTypeValue" id="fuelType">
                            <optgroup label="1. Топливо">
                                <option {% if fuelTypeValue == 'natural_gas' %}selected{% endif %} value="natural_gas">Природный газ</option>
                                <option {% if fuelTypeValue == 'coal' %}selected{% endif %} value="coal">Уголь</option>
                                <option {% if fuelTypeValue == 'peat' %}selected{% endif %} value="peat">Торф</option>	
                            </optgroup>
                            <optgroup label="2. Моторное топливо">
                                <option {% if fuelTypeValue == 'gasoline' %}selected{% endif %} value="gasoline">Бензин</option>
                                <option {% if fuelTypeValue == 'kerosene' %}selected{% endif %} value="kerosene">Керосин</option>
                                <option {% if fuelTypeValue == 'diesel' %}selected{% endif %} value="diesel">Дизельное топливо</option>
                            </optgroup>
                            <optgroup label="3. Электромотор">
                                <option {% if fuelTypeValue == 'electric' %}selected{% endif %} value="electric">Электричество</option>
                            </optgroup>
                        </select>
                    </div>
                        
                    <div class="ammount">
                        <label for="efficiency">Расход топлива(в литрах):</label>
                        <input value="{{fuelEfficiencyValue}}" name="fuelEfficiencyValue" type="number" id="efficiency" placeholder="Введите расход топлива">
                    </div>
                    <button type="submit">Рассчитать</button>
                    
                
                </div>
            </form>
            <p id="result">Результат: {{co2Emission}}</p>
    </main>
    <footer>
        <div class="footer-logo">
                <img src="/static/img/Logo 2.png" alt="Logo">
        </div>
        <div class="communication">
            <a href="https://discord.gg/wuZQS7NWRD"><img src="/static/img/Exclude.png" alt="Discord-bot"></a>
            <a href="https://github.com/anywalkerjr/GreenEarth-Project"><img src="/static/img/Github.png" alt="Github"></a>
        </div>
    </footer>
    {% endblock %}
</body>
</html>