<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Green Earth</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% block content %}
    <header>
        <div class="logo">
            <img src="/static/img/Logo 1.png" alt="GreenEarth">
        </div>
        <nav>
            <li id="choosen">Главная</li>
            <li><a href="{{ url_for('calculator')}}">Калькулятор</a></li>
            <li><a href="{{ url_for('news')}}">Новости</a></li>
        </nav>
    </header>
    <main>
        <article class="a1">
            <div class="main-text">
                <img src="/static/img/img 1.png" alt="Photo">
                <div class="a1In">
                    <h2>Что такое глобальное потепление</h2>
                    <p>
                        Глобальное потепление — это повышение средней температуры на Земле, основной причиной которого является деятельность человека. Оно наблюдается с конца XIX века и его скорость постоянно увеличивается. Многие до сих пор не верят, что глобальное потепление реально, и объясняют трансформацию климата естественными причинами. Однако существует множество доказательств того, что глобальное потепление вызвано антропогенным фактором — то есть деятельностью человека.
                    </p>
                </div>
            </div>
            <p>
                Если не замедлить рост температуры на Земле, то необратимых последствий не избежать. Об этом впервые заговорили в начале 1950-х. Тогда и появилось понятие «глобальное потепление». Этот термин популяризовал американский геолог и климатолог Уоллес Брокер. В 1975 году вышла его статья о глобальном потеплении. Но на самом деле термин появился еще раньше. В 1957 году климатолог Роджер Ревелл выступил перед Конгрессом США. Он в красках описал последствия от повышения уровня углекислого газа (CO₂) в атмосфере. Но к его мнению не прислушались. В СССР в то время тоже изучали эту проблему. В 1956–1957 годах геофизик и академик РАН Михаил Будыко рассчитал, какой объем парниковых газов может вызвать глобальное потепление, но и его исследование тогда не привлекло особого внимания.
            </p>
        </article>
        <article class="a2">
            <div class="main-text">
                <div class="a2In">
                    
                    <h2>Виноват ли человек в глобальном потеплении</h2>
                    <p>За 4,5 млрд лет климат Земли не раз преображался. На него влияют:</p>
                    <li><strong>Форма орбиты Земли.</strong> Иногда она становится более эллипсоидной, иногда — более круглой. Изменения происходят каждые 93 тыс. лет.</li>
                    <li><strong>Угол наклона земной оси к плоскости орбиты.</strong> Он меняется с периодичностью в 41 тыс. лет.</li>
                    <li><strong>Конус, который описывает земная ось.</strong> Меняется каждые 26 тыс. лет.</li>
                </div>
                <img src="/static/img/img 2.png" alt="Photo">
            </div>
            <p>
                Вместе эти изменения орбиты влияют на то, какой объем тепла получает Земля и как оно распределяется. Когда в высоких широтах становится меньше солнца, наступает оледенение.
                Так что климат Земли действительно не был одинаковым все время существования планеты. Однако сейчас температура на Земле растет слишком быстро. В 2022 году средняя температура в мире была на 1,15 °C выше доиндустриального уровня. 2022 год даже оказался пятым по степени жары за всю историю. Более того, годовая глобальная температура уже восемь лет подряд превышает доиндустриальный уровень минимум на 1°C.
            </p>
        </article>
        <article class="a3">
            <iframe class="yt-video" width="560" height="315" src="https://www.youtube.com/embed/6zP0L69ielU?si=23Eaqu3ngvE5nazV&amp;controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <p class="sub-title">
                Видео, которое показывает, какие страны с 1850-го года выбрасывали больше всего углекислого газа. Топ-3 страны к 2021 году — США, Китай и Россия. (Видео: YouTube)
            </p>
        </article>
    </main>
    <footer>
        <div class="footer-logo">
                <img src="/static/img/Logo 2.png" alt="Logo">
        </div>
        <div class="communication">
            <a href="https://discord.gg/wuZQS7NWRD"><img src="/static/img/Exclude.png" alt="Discord-bot"></a>
            <a href="https://github.com/anywalkerjr/GreenEarth-Project"><img src="/static/img/Github.png" alt="Github"></a>
        </div>
    </footer>
    {% endblock %}
</body>
</html>